.venv/
build/
dist/
__pycache__/
config/__pycache__/
CTranslate2-rocm/
export_code.py
collected_sources.txt
src/hotkey_transcriber.egg-info/
.vscode/
logs/
AppDir/
Hotkey_Transcriber-x86_64.AppImage
hotkey-transcriber.spec
linuxdeploy-x86_64.AppImage
